<a href="https://colab.research.google.com/github/guilhermelaviola/BIArchitectureAndBigData/blob/main/Class05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Mining Techniques and Algorithms**
Diving into the specific algorithms used to perform tasks such as classification, regression, and clustering, discovering valuable insights in the data.

In [1]:
# Importing all the necessary libraries:
import pandas as pd
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import association_rules
from google.colab import drive
drive.mount('/content/drive')
import os

Mounted at /content/drive

In [2]:
# Setting the file search parameters:
filename = 'BIAndBigData.xlsx'
search_path = '/content/drive/My Drive/Datasets/Descomplica'

# Searching for the file:
file = None
for root, dirs, files in os.walk(search_path):
    if filename in files:
        file= os.path.join(root, filename)
        break
    df = pd.read_excel(file)

In [3]:
# Importing and displaying the dataset:
data = pd.ExcelFile(file)
c5 = pd.read_excel(data, 'Class05')
c5

       Member_number                 Date        itemDescription
0               1808           21-07-2015         tropical fruit
1               2552  2015-05-01 00:00:00             whole milk
2               2300           19-09-2015              pip fruit
3               1187  2015-12-12 00:00:00       other vegetables
4               3037  2015-01-02 00:00:00             whole milk
...              ...                  ...                    ...
38760           4471  2014-08-10 00:00:00          sliced cheese
38761           2022           23-02-2014                  candy
38762           1097           16-04-2014               cake bar
38763           1510  2014-03-12 00:00:00  fruit/vegetable juice
38764           1521           26-12-2014               cat food

[38765 rows x 3 columns]

In [4]:
c5[c5['Member_number']== 1808]

       Member_number                 Date           itemDescription
0               1808           21-07-2015            tropical fruit
4355            1808  2015-04-02 00:00:00  long life bakery product
9090            1808           29-11-2014                      meat
11488           1808           15-12-2014                     sugar
16149           1808           21-07-2015                rolls/buns
20504           1808  2015-04-02 00:00:00       semi-finished bread
25239           1808           29-11-2014                whole milk
27637           1808           15-12-2014              citrus fruit
36088           1808           21-07-2015                     candy
38731           1808           15-12-2014                   napkins

In [5]:
grouping = c5[c5['Member_number'] == 1808].groupby('Date')['itemDescription'].sum()
grouping

Date
2015-04-02 00:00:00    long life bakery productsemi-finished bread
15-12-2014                                sugarcitrus fruitnapkins
21-07-2015                           tropical fruitrolls/bunscandy
29-11-2014                                          meatwhole milk
Name: itemDescription, dtype: object

In [6]:
grouped_transactions = c5[c5['Member_number'] == 1808].groupby('Date')['itemDescription'].sum()
grouped_transactions

Date
2015-04-02 00:00:00    long life bakery productsemi-finished bread
15-12-2014                                sugarcitrus fruitnapkins
21-07-2015                           tropical fruitrolls/bunscandy
29-11-2014                                          meatwhole milk
Name: itemDescription, dtype: object

In [7]:
# Instantiating the transaction encoder:
te = TransactionEncoder()

In [ ]:
# Transforming the data into the adequate format:
te_ary = te.fit(grouped_transactions['itemDescription']).transform(grouped_transactions['itemDescription'])
df_te = pd.DataFrame(te_ary, columns=te.columns_)
df_te

/usr/local/lib/python3.11/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

KeyError: 'itemDescription'

In [ ]:
# Applying the FP-Growth algorithm:
frequent_itemsets = fpgrowth(df_te, min_support=0.005, use_colnames=True)

# Displaying the most frequent item collections:
print(frequent_itemsets)

/usr/local/lib/python3.11/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

NameError: name 'df_te' is not defined

In [ ]:
rules = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.005)
soda_rules = rules[rules['antecedents'].apply(lambda x: 'soda' in x)]
soda_rules

In [ ]:
soda_rules_sorted = soda_rules.sort_values(by='confidence', ascending=False)
soda_rules_sorted